{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{HEADER}}</title>
    <script src="https://unpkg.com/feather-icons"></script>


    <!-- Font -->
    {% include 'snippets/font_poppins.html' %}

    <!-- CSS Root -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- CSS Apps -->
    {% block style %}

    {% endblock style %}
</head>

<body>
    <!-- Navbar Load -->
    {% include 'snippets/navbar.html' %}

    <!-- Content Apps HTML -->
    {% block container %}

    {% endblock container %}

    <!-- Java Script Root -->
    <script src="{% static 'script/script.js' %}"></script>

    <!-- Java Script Apps -->
    {% block script %}

    {% endblock script %}

    <!-- Feather icons -->
    <script>
        feather.replace()
    </script>
</body>

</html>